.login-background {
    background-image: url('/public/hero.png'); /* Path to your background image */
    background-size: cover; /* Ensure the background covers the entire section */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 1000px; /* Set a fixed height for the section */
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    position: relative; /* Allow for potential future overlay elements */
}

.login-container {
    padding: 25px;
    border-radius: 25px;
    color: white;
    background-color: #00236D;
}

.login-container h1 {
    padding: 25px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
    color: white;
}

.input-group input {
    width: 100%;
    padding: 0;
    border: 0;
    color: white;
    background-color: #00236D;
    border-bottom: 2px solid white;
}

.input-group input::placeholder {
    color: white;
}

.login-btn {
    padding: 10px;
    margin: 0 100px;
    margin-top: 15px;
    background-color: #009C41;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.forgot-password {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}