footer {
    color: white;
    text-align: center;
    background-image: url("/public/footer.png");
    background-size: cover;
    padding: 20px 0;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

footer .social-icons a {
    text-decoration: none;
}

footer .social-icons img {
    height: 30px; /* Set the icon size */
    width: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease; /* Smooth scaling effect */
}

footer .social-icons img:hover {
    transform: scale(1.2); /* Slight zoom on hover */
}